{% macro displaySourcesList(sources) %}
        {% for source in sources %}
   
        <link href="https://fonts.googleapis.com/css?family=Fahkwang" rel="stylesheet">
        
          <div class="col-sm-4">
              <h3 ><b>{{ source.name}}</b></h3>
            
              
              <img src="{{url_for('static',filename='images/image.jpg')}}" alt="NoImage" style="width:100px;height:100px; float:right">
            
            <br>
            <div class="well" style="height:200px">
                <p style="font-weight:bold">{{ source.description}}</p>
                <button style="float:right; background-color: teal;"><a href="/articles/{{source.id}}"> <b> view {{source.name}}</b></a></button>
            </div>
            
          </div>
        {% endfor %}
{% endmacro %}
{% macro displayArticlesList(articles) %}
        {% for article in articles %}
          <div class="col-sm-6">
            <div class="well" style="height:200px">
              <img src="{{article.urlToImage}}" alt="IMAGE NOT FOUND" style="width:150px;height:150px; float:left">
              <h3 style="margin-top:-10px">{{article.title}}</h3>
              <p style="margin-left:50px">{{ article.description|truncate(100)}}</p>
              <a href="{{article.url}}"><p>Continue reading.........</p></a>
              <br>
              <footer style="font-weight:bolder">Published: {{article.date}}</footer>
            </div>
          </div>
        {% endfor %}
{% endmacro %}