{% macro displaySourcesList(sources) %}
        {% for source in sources %}
   
        <link href="https://fonts.googleapis.com/css?family=Fahkwang" rel="stylesheet">
        
          <div class="col-sm-4">
              <h3 ><b>{{ source.name}}</b></h3>
              <img src="{{url_for('static',filename='images/image.jpg')}}" alt="NoImage" style="width:100px;height:100px; float:right">
            <br>
            <div class="well" style="height:200px">
                <p style="font-weight:bold">{{ source.description}}</p>
                <button style="float:right; background-color: teal;"><a href="/articles/{{source.id}}"> <b> view {{source.name}}</b></a></button>
            </div>
            
          </div>
        {% endfor %}
{% endmacro %}
{% macro displayArticlesList(articles) %}
        {% for article in articles %}
          <div class="col-sm-6">
            <div class="well" style="height:200px">
              <img src="{{article.urlToImage}}" alt="IMAGE NOT FOUND" style="width:50px;height:50px; float:left">
              <h3 style="margin-top:-10px">{{article.title}}</h3>
              <p style="margin-left:50px">{{ article.description}}</p>
              <a style="float:right; "href="{{article.url}}"><p><b><i> View more...</i></b></p></a><br>
              <footer style="font-weight:bolder; float:right;">Published: {{article.date}}</footer>
              
            </div>
          </div>
        {% endfor %}
{% endmacro %}


{% macro display_sources(sources)%}
    <div class="container">
        {% for row in sources | batch(3) %}
        {% for source in row %}
        <div class="col-sm-4">
                <h3>{{source.name}}</h3>
                    <div class="well" style="height:200px">
                    <p>{{source.description}}</p>
                    <p>COUNTRY: <strong>{{source.country | upper}}</strong></p>
                    <button style="float:right; background-color: teal;"><a href="/articles/{{source.id}}"> <b> view {{source.name}}</b></a></button>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
{% endmacro %}
